# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Neovim
alias vi='nvim'
alias vim='nvim'

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Linux-only aliases
if [[ "$OSTYPE" == "linux-gnu" ]]; then
    function update () {
        sudo yum update -y;
        sudo yum upgrade;
        conda update conda;
        conda update --all;
        conda clean -a;
    }

    # -l: long format
    # -F: displays slash after directory, etc.
    # -h: human-readable unit suffixes
    # -N: print literals and avoid quotes
    # ${colorflag}: prints OS-specific colors (see above)
    # --group-directories-first: dirs come first
    alias l="ls -lFhN ${colorflag} --group-directories-first"

    # Xclip to copy text from terminal to clipboard in Ubuntu
	alias pbcopy='xclip -sel clip'
	alias pbpaste='xclip -o'
    
    # Report file system disk space usage, excluding irrelevant file systems
    alias df='df -h -x squashfs -x tmpfs -x devtmpfs'
else # $OSTYPE darwin* == macos, so put mac-only aliases here
    function update () {
        omz update;
        sudo softwareupdate --all --install --force;
        echo "Updating Homebrew Recipes..."
        brew update &>/dev/null
        echo "Upgrading and removing outdated formulae..."
        brew upgrade &>/dev/null
        brew doctor;
        conda update conda;
        conda update --all;
    }

    function cleanup () {
        echo "Emptying the Trash 🗑 on all mounted volumes and the main HDD.."
        sudo rm -rfv /Volumes/*/.Trashes/* &>/dev/null
        sudo rm -rfv ~/.Trash/* &>/dev/null
        echo "Clearing System Cache Files..."
        sudo rm -rfv /Library/Caches/* &>/dev/null
        sudo rm -rfv /System/Library/Caches/* &>/dev/null
        sudo rm -rfv ~/Library/Caches/* &>/dev/null
        sudo rm -rfv /private/var/folders/bh/*/*/*/* &>/dev/null
        echo "Clearing System Log Files..."
        sudo rm -rfv /private/var/log/asl/*.asl &>/dev/null
        sudo rm -rfv /Library/Logs/DiagnosticReports/* &>/dev/null
        rm -rfv ~/Library/Containers/com.apple.mail/Data/Library/Logs/Mail/* &>/dev/null
        rm -rfv ~/Library/Logs/CoreSimulator/* &>/dev/null

        if [ -d ~/Library/Application\ Support/Google/Chrome/ ]; then
          echo "Clearing Google Chrome Cache Files..."
          sudo rm -rfv ~/Library/Application\ Support/Google/Chrome/Default/Application\ Cache/* &>/dev/null
        fi
        echo "Removing iOS Device Backups..."
        rm -rfv ~/Library/Application\ Support/MobileSync/Backup/* &>/dev/null

        if type "brew" &>/dev/null; then
            if [ "$update" = true ]; then
            fi
            echo "Cleaning up Homebrew Cache..."
            brew cleanup --force -s &>/dev/null
        brew cask cleanup &>/dev/null
        rm -rfv /Library/Caches/Homebrew/* &>/dev/null
        brew tap --repair &>/dev/null
        fi

        if [ -d ~/Library/Application\ Support/Microsoft/Teams ]; then
            echo "Deleting Microsoft Teams logs and caches..."
            rm -rfv ~/Library/Application\ Support/Microsoft/Teams/IndexedDB &>/dev/null
            rm -rfv ~/Library/Application\ Support/Microsoft/Teams/Cache &>/dev/null
            rm -rfv ~/Library/Application\ Support/Microsoft/Teams/Application\ Cache &>/dev/null
            rm -rfv ~/Library/Application\ Support/Microsoft/Teams/Code\ Cache &>/dev/null
            rm -rfv ~/Library/Application\ Support/Microsoft/Teams/blob_storage &>/dev/null
            rm -rfv ~/Library/Application\ Support/Microsoft/Teams/databases &>/dev/null
            rm -rfv ~/Library/Application\ Support/Microsoft/Teams/gpucache &>/dev/null
            rm -rfv ~/Library/Application\ Support/Microsoft/Teams/Local\ Storage &>/dev/null
            rm -rf ~/Library/Application\ Support/Microsoft/Teams/tmp &>/dev/null
            rm -rfv ~/Library/Application\ Support/Microsoft/Teams/*logs*.txt &>/dev/null
            rm -rfv ~/Library/Application\ Support/Microsoft/Teams/watchdog &>/dev/null
            rm -rfv ~/Library/Application\ Support/Microsoft/Teams/*watchdog*.json &>/dev/null
        fi
        echo "Cleaning up DNS cache..."
        sudo dscacheutil -flushcache &>/dev/null
        sudo killall -HUP mDNSResponder &>/dev/null

        echo "Purging inactive memory..."
        sudo purge &>/dev/null

        echo "Cleaning Conda"
        conda clean -a;
    }


    # --group-directories-first: self-explanatory
    # --color=auto: use colors
    # -N: print literals and avoid quotes
    alias ls='gls --color=auto --group-directories-first -N'

    # -l: long format
    # -F: displays slash after directory, etc.
    # -h: human-readable unit suffixes
    alias l="ls -lh"
	alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
    alias cpwd="pwd | tr -d '\n' | pbcopy"

    # Copy GitHub personal access token to clipboard,
    # enabling me to paste it to terminal via ⌘+v
    PATH_TO_TOKENS=~/"Library/Mobile\ Documents/com~apple~CloudDocs/Documents/tokens"
    alias ghpat="cat $PATH_TO_TOKENS/github-pat | pbcopy"

    # Rebuild icon cache in macOS
    alias rebuildicons="sudo rm -rfv /Library/Caches/com.apple.iconservices.store; sudo find /private/var/folders/ \( -name com.apple.dock.iconcache -or -name com.apple.iconservices \) -exec rm -rfv {} \; ; sleep 3; sudo touch /Applications/* ; killall Dock; killall Finder"

    # Re-index everything in Spotlight
    alias rebuildspotlight="sudo mdutil -E /"
fi

hash -d icloud=~"/Library/Mobile Documents/com~apple~CloudDocs"
hash -d dl=~/Downloads
hash -d dt=~/Desktop

# Print contents of comma- or tab-separated value file with perl, column, and less
function csv() {
    perl -pe 's/((?<=,)|(?<=^)),/ ,/g;' "$@" | column -t -s, | less  -F -S -X -K
}
function tsv() {
    perl -pe 's/((?<=\t)|(?<=^))\t/ \t/g;' "$@" | column -t -s $'\t' | less  -F -S -X -K
}

# Remove local branches that lack remotes: "git clean local branches"
function gclb() {
    git fetch -p;
    for branch in $(git branch -vv | grep ': gone]' | awk '{print $1}');
    do git branch -D $branch;
    done
}

# Lowercase all files
function lowercase() {
    for f in *; do mv "$f" "$f.tmp"; mv "$f.tmp" "`echo $f | tr "[:upper:]" "[:lower:]"`"; done
}

# Get distribution of file sizes
function filesizes() {
    find . -type f -print0 | xargs -0 ls -l | awk '{ n=int(log($5)/log(2)); if (n<10) { n=10; } size[n]++ } END { for (i in size) printf("%d %d\n", 2^i, size[i]) }' | sort -n | awk 'function human(x) { x[1]/=1024; if (x[1]>=1024) { x[2]++; human(x) } } { a[1]=$1; a[2]=0; human(a); printf("%3d%s: %6d\n", a[1],substr("kMGTEPYZ",a[2]+1,1),$2) }'
}
